[submodule "lib/oh-my-zsh"]
	path = lib/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
    branch = master
[submodule "lib/SpaceVim"]
	path = lib/SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
    branch = master
